<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE"/>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"/>
    
    <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>

    <application
        android:allowBackup="true"
        android:label="FrameGen"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrameGen">

        <provider
            android:name="rikka.shizuku.ShizukuProvider"
            android:authorities="${applicationId}.shizuku"
            android:exported="true"
            android:multiprocess="false" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <service
            android:name=".FloatingService"
            android:exported="false"
            android:permission="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION"
            android:foregroundServiceType="specialUse|mediaProjection" />

    </application>

</manifest>